@charset "utf-8";

/* 헤더,푸터 등 공통 영역 CSS */

body *{
  /* border: 1px dashed var(--Gray70); */
}

main{
  width: 100%;
  height: 100%;
}

/* 헤더 영역 */
.headerContainer{
  max-width: 1920px;
  height: 80px;
  margin: 0 auto;
  padding: 16px 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerContainer a{
  font-size: 18px;
  color: var(--Gray100);
}
/* 메뉴 관련 */
.gnb__menu{
  display: flex;
  align-items: center;
  gap: 24px;
}
.gnb__item{
  font-weight: bold;
}
.gnb__item:hover a{
  color: var(--GREEN);
}
.logo>a{
  width: 132px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Gray20);
  border: 1px solid var(--BLACK);
  font-weight: bold;
}
/* 계정 관련 */
.account__menu{
  display: flex;
  align-items: center;
  gap: 24px;
}
.searchBox{
  position: relative;
}
.searchBox input{
  width: 335px;
  height: 48px;
  padding: 8px 16px;
  border-radius: 16px;
  border: 1px solid var(--Gray10);
}
.searchBox input::placeholder{
  color: var(--Gray30);
}
.searchBox button{
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* 푸터 영역 */
.footerContainer{
  max-width: 1920px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-light-gray);
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: -0.003em;
  color: var(--text03);
}

/* 플로팅메뉴 */
.floatingMenu{
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}
.floatingMenu__item{
  width: 56px;
  height: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--WHITE);
  border-radius: 999px;
  box-shadow: 0px 6px 10px 0px #0000000D;
  border: none;
  font-family: "Pretendard";
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: -0.003em;
  text-align: center;
}
.makeMeetingBtn{
  background-color: var(--LIGHT-GREEN);
  transition: .5s;
  overflow: hidden;
}
.makeMeetingBtn>.explanation{
  display: none;
  flex-shrink: 0;
  color: var(--WHITE);
}
.downloadBtn{
  border: 1px solid var(--Gray10);
}
.goTopBtn{
  background-color: var(--LIGHT-GREEN);
  color: var(--WHITE);
}
/* 모임개설하기 활성화 */
.makeMeetingBtn.active{
  width: 178px;
  flex-direction: row;
  gap: 8px;
}
.makeMeetingBtn.active .explanation{
  display: inline-block;
}